@import "tailwindcss";
@import '@fontsource-variable/inter';

@theme inline {
  --color-background: var(--bg-surface);
  --color-foreground: var(--text-h);
  --color-border: var(--border);
  --color-input: var(--border);
  --color-ring: var(--accent);
  --color-popover: var(--bg-surface);
  --color-popover-foreground: var(--text-h);
  --color-primary: var(--accent);
  --color-primary-foreground: var(--bg-base);
  --color-muted: var(--bg-surface);
  --color-muted-foreground: var(--text);
  --color-accent-custom: var(--accent-bg);
  --color-accent-foreground: var(--text-h);
  --graph-line: theme(--color-blue-300);
  --graph-point: theme(--color-blue-600);
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg-base: #fff;
  --bg-surface: #fff;
  --bg-surface-selected: #1c1c1c;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #1c1c1c;
  --accent-bg: rgba(28, 28, 28, 0.1);
  --accent-border: rgba(28, 28, 28, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'Inter Variable', system-ui, sans-serif;
  --heading: 'Inter Variable', system-ui, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg-base);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg-base: #111111;
    --bg-surface: #1c1c1c;
    --bg-surface-selected: #ffffff;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: rgb(28, 28, 28);
    --accent-bg: rgba(28, 28, 28, 0.15);
    --accent-border: rgba(28, 28, 28, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

